data
tesseray/test_data
venv
.DS_Store
__pycache__
venv/lib
tesseray/logs/blunder_analysis.log
tesseray/blunder_analysis.log
tesseray/logs/blunder_analysis_20230517_165446.log
tesseray/logs/blunder_analysis_20230517_171438.log
tesseray/logs/blunder_analysis_20230517_181229.log
tesseray/logs/blunder_check_20230518170258.log
tesseray/logs/blunder_check_20230521000043.log
tesseray/csv/blunder_check_20230521003139.csv
tesseray/csv/blunder_check_20230522125342.csv
tesseray/csv/blunder_check_20230522133911.csv
